.square {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 10px;
}

.round {
    background-color: red;
    height: 200px;
    width: 200px;
    border: 10px;
    border-radius: 100%;
}

table {
    width: 50%;
    border-collapse: collapse;
    /* Ensures that borders are not doubled */
}

th,
td {
    border: 1px solid #ddd;
    /* Adds a border around each cell */
    padding: 5px;
    /* Adds padding inside the cells */
    text-align: left;
    /* Aligns text to the left */
}